.feedcontentpeople {
	color: #fff;
	margin-left: 350px;
	min-height: 80vh;
	background-color: rgba(11, 11, 11, 1);
	width: calc(100% - 350px);
	margin-top: 20vh;
	padding: 40px 20px;
}

.fcp-feed {
	column-count: 3;
	gap: 15px;
}

.fcp-feed .fcp-card {
	break-inside: avoid;
	box-shadow: 0 2px 5px rgba(200, 200, 200, .8),
							0 -2px 5px rgba(200, 200, 200, .8);
	border-radius: 5px;
}

.fcp-feed .fcp-card > img {
	width: 100%;
	object-fit: cover;
}

.fcp-feed .fcp-card > img:hover {
	cursor: pointer;
}

.fcp-card-feedback {
	display: flex;
	justify-content: space-between;
	margin: 0 5px;
}

.fcp-card-img {
	width: 300px;
	border-radius: 5px 5px 0 0;
	margin-bottom: 15px;
}

.fcp-card-img-wrapper:hover {
	cursor: pointer;
}

.fcp-card > p {
	text-align: right;
}

.fcp-card-icon-profile {
	width: 24px;
	border-radius: 50%;
}

.fcp-cf-right > img {
	margin-left: 10px;
}

.fcp-cf-left {
	display: flex;
}

.fcp-cf-name {
	margin-left: .5em;
	font-size: 14px;
}

.fcp-cf-left > img {
	width: 24px;
	height: 24px;
	border-radius: 50%;
}

.fcp-cf-right > img:hover {
	cursor: pointer;
}

.cf-love-icon:hover {
	cursor: pointer;
}

.cf-love-icon:active {
	transform: scale(0.5);
}

