.feedcontent {
	color: #fff;
	margin-left: 350px;
	min-height: 80vh;
	background-color: rgba(11, 11, 11, 1);
	width: calc(100% - 350px);
	margin-top: 140px;
	padding: 20px;
}

.fc-feed {
	column-count: 3;
	gap: 20px;
}

.fc-feed .fc-card > img { 
	width: 100%;
	object-fit: cover;
	margin-bottom: 10px;
	border-radius: 5px 5px 0 0;
}

.fc-card {
	break-inside: avoid;
	/*box-shadow: 0 2px 5px rgba(200, 200, 200, .8),
							0 -2px 5px rgba(200, 200, 200, .8);*/
	border-radius: 5px;
}

.fc-card-feedback {
	display: flex;
	justify-content: space-between;
	margin: 0 5px;
}

.fc-card-img {
	border-radius: 5px;
	margin-bottom: 10px;
	width: 300px;
}

.fc-card-img-wrapper:hover {
	cursor: pointer;
}

.fc-card > p {
	text-align: right;
	margin-right: 5px;
}

.fc-card-icon-profile {
	width: 24px;
	border-radius: 50%;
}

.fc-cf-right > img {
	margin-left: 10px;
}

.fc-cf-left {
	display: flex;
}

.fc-cf-name {
	margin-left: .5em;
	font-size: 14px;
}

.fc-cf-left > img {
	width: 24px;
	height: 24px;
	border-radius: 50%;
}

.fc-cf-right > img:hover {
	cursor: pointer;
}

.cf-love-icon:hover {
	cursor: pointer;
}

.cf-love-icon:active {
	transform: scale(0.5);
}
