.messagecontent {
	color: #fff;
	margin-left: 350px;
	background-color: rgba(11, 11, 11, 1);
	width: calc(100vmax - 350px);
	height: calc(100vh - 140px);
	margin-top: 140px;
	padding: 20px;
}

.mc-chatting-body {
	width: calc(100% - 2em);
	height: 60vmin;
	overflow-y: auto;
}

.mc-chatting-body::-webkit-scrollbar {
	display: none;
}

.mc-chatting-body img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	position: relative;
	top: 2px;
	right: 1px;
}

.mc-message-incomming,
.mc-message-outgoing {
	display: flex;
	margin: 10px;
}

.mc-wrap-rainbow {
	width: 55px;
	height: 55px;
	border-radius: 50%;
	background: linear-gradient(90deg, #4DD4F7 0%, #9090FB 30.73%, #FF6B81 68.75%, #FBDF63 100%);
	background-color: #fff;
	text-align: center;
}

/* .mc-wrap-rainbow img {
	align-self: center;
} */

.mc-message-outgoing {
	justify-content: flex-end;
	margin: 2em 1em;
}

.mc-message-outgoing {
	margin: 2em 1em;
	display: flex;
}

.mc-text-incomming {
	display: block;
	padding: 10px;
	text-align: justify;
	margin-left: .5em;
	margin-right: 65px;
	margin-top: 1em;
	border-radius: 5px;
	background-color: rgba(171, 171, 171, 0.15);
	border-radius: 0 1em 1em 1em;
	color: rgba(200, 221, 221, 1);
	box-shadow: inset 0 1px 5px rgba(200, 200, 200, .5);
}

.mc-text-outgoing {
	display: block;
	color: rgba(255, 255, 255, 1);
	padding: 10px;
	text-align: justify;
	background-color: rgba(171, 171, 171, .3);
	border-radius: 5px;
	margin-left: 65px;
	margin-right: 10px;
	margin-top: 1em;
	border-radius: 1em 0 1em 1em;
	box-shadow: inset 0 1px 5px rgba(200, 200, 200, .7);
}

.mc-img-outgoing {
	order: 2;
}

.mc-no-msg {
	margin: 25vh 0;
	text-align: center;
}

.mc-form-send {
	margin: 1em;
}

.mc-input-send {
	width: calc(100% - 1.5em);
	border-radius: 5px;
	background-color: rgba(31,31,31, 1);
	border: 2px solid rgba(171, 171, 171, 0.15);
	color: #fff;
	padding: 10px 20px;
	font-weight: 700;
}

.mc-input-send:focus {
	outline: none;
}

.mc-text-date {
	margin-top: -1em;
	margin-left: 1em;
	color: rgba(230,230,230, .7);
	font-weight: 700;
	font-size: 10px;
}
