.notif {
	color: 14px;
}

.n-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .3);
  z-index: 1;
  color: #fff;
}

.n-body {
	position: fixed;
	height: 50vh;
	overflow-y: auto;
	top: 100px;
	right: 280px;
	width: 320px;
	background-color: rgba(31, 31, 31, 1);
	z-index: 2;
	border-radius: 5px;
	padding: 10px 20px 10px;
	box-shadow: 0 2px 5px rgba(200,200,200, .5),
							0 -2px 5px rgba(200,200,200, .5);
}

.n-body::-webkit-scrollbar {
	display: none;
}

.n-body:before {
	content: '';
	top: -30px;
	right: 15px;
	width: 0;
	height: 0;
	border-right: 20px solid transparent;
	border-left: 20px solid transparent;
	border-bottom: 50px solid rgba(31, 31, 31, 1);
	position: absolute;
}

.n-notif-header {
	background-color: rgba(31, 31, 31, 1);
	font-size: 14px;
	text-align: center;
	font-weight: 700;
	border-bottom: 1px solid rgba(255, 255, 255, 0.8);
	padding-bottom: 1em;
	padding-top: 1em;
	position: sticky;
	top: -10px;
}

.n-people-come {
	margin: 10px 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

.n-people-come > img, 
.n-people-comment > img {
	width: 24px;
	height: 24px;
	border-radius: 50%;
}

.n-name {
	margin-left: .5em;
}

.n-notif {
	margin-left: 2em;
	word-wrap: break-word;
	color: rgba(255, 255, 255, .7);
}

.n-notif > span {
	color: #fff;
}

.n-time-comment {
	color: rgba(230, 230, 230, .5);
	margin-top: -1em;
	margin-left: 2.7em;
	font-size: 12px;
}

.n-time-post {
	color: rgba(230, 230, 230, .5);
	margin-left: 2.7em;
	font-size: 12px;
}

