.sidebar {
	background-color: rgba(11, 11, 11, 1);
	position: fixed;
	left: 0;
	top: 0;
	width: 350px;
	border-right: 1px solid rgba(106, 106, 106, 0.3);
	height: 100vh;
	color: #fff;
	overflow-y: auto;
}

.sb-bg-rainbow {
	width: 160px;
	height: 160px;
	margin: 0 auto;
	padding: 5px;
	border-radius: 50%;
	background: linear-gradient(90deg, #4DD4F7 0%, #9090FB 30.73%, #FF6B81 68.75%, #FBDF63 100%);
}

.sidebar::-webkit-scrollbar {
	display: none;
}

.sidebar ul li {
	list-style: none;
}

.sb-nav-link > ul li:hover {
	cursor:  pointer;
	color: rgba(171, 171, 171, 1);
}

.sb-header {
	padding-top: 20px;
	padding-left: 50px;
	margin-bottom: 50px;
}

.sb-name-bio {
	text-align: center;
	color:  #fff;
	margin-bottom: 30px;
	position: relative;
}

.sb-name-bio > img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background-color: white;
}

.sb-list-icon:hover {
	cursor: pointer;
}

.sb-list-icon:active {
	cursor: pointer;
	background-color: #fff;
}

.sb-fm,
.sb-fm > * {
	padding: 10px 0 40px;
	text-align: center;	
}

.sb-btn-message-rainbow {
	background: linear-gradient(90deg, #4DD4F7 0%, #9090FB 36.46%, #FF6B81 71.35%, #FBDF63 100%);
	color: #fff;
	font-weight: 900;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	margin: 0 10px;
	padding: 10px 25px;
}

.sb-btn-follow {
	padding: 10px 25px;
	margin: 0 10px;
	background-color: rgba(171, 171, 171, 0.15);;
	color: #fff;
	font-weight: 900;
	font-size: 18px;
	border: none;
	border-radius: 5px;
}

.sb-btn-message-rainbow:active,
.sb-btn-follow:active {
	background: rgba(255, 255, 255, .9);
	color: #000;
}

.sb-pen-icon {
	position: absolute;
	right: 30px;
	top: -30px;
}

.sb-pen-icon:hover {
	cursor: pointer;
}

.sb-pen-icon:active {
	cursor: pointer;
	background-color: #fff;
	border-radius:  5px;
}

.sb-img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background: transparent;
}

.sb-name {
	font-size: 24px;
	font-weight: 900;
	margin-top: 10px;
	margin-bottom: 10px;
}

.sb-username {
	font-size: 14px;
	color: rgba(171, 171, 171, 1);
}

.sb-pff {
	position: relative;
	right: 10px;
}

.sb-pff ul li a {
	color: #fff;
}

.sb-pff ul li a:hover {
	text-decoration: none;
}

.sb-pff ul li {
	text-align: center;
	list-style: none;
	display: inline-block;
	padding: 0 20px;
}

ul li.count {
	font-size: 18px;
}

.sb-center {
	border-right: 1px solid rgba(106, 106, 106, 0.3);
	border-left: 1px solid rgba(106, 106, 106, 0.3);
}

.sb-bio {
	padding: 5px 10px 5px 3em;
}

.sb-bio-text {
	font-size: 14px;
	margin: 30px 0;
	color: #fff;
}

.sb-nav-link {
	padding: 0 50px 0 0;
}

.sb-li-text {
	margin-left: 20px;
}

.sb-nav-link ul li {
	margin: 40px 0;
}

.sb-line {
	border: 1px solid rgba(106, 106, 106, 0.3);
	margin: 30px 0;
}

.sb-li-link {
	color: #fff;
}

.sb-li-link:hover {
	text-decoration: none;
	color: rgba(171, 171, 171, 1);
}

.sb-li-link:active {
	text-decoration: none;
	color: #000;
	background-color: rgba(171, 171, 171, 1);
}


@media screen and (max-width: 500px) {
	/*.sidebar {
		display: none;
	}

	.sb-list-icon {
	}*/
}